.CalendarDay-action-container {
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
  height: 100%;
}

.CalendarDay-card-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 4px !important;
}

.CalendarDay-events-info {
  font-size: 12px;
  font-style: italic;
}

.CalendarDay-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .day-radius {
    background-color: var(--color-text-muted);
    color: var(--color-bg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.CalendarDay-container.is-weekend {
  .day-radius {
    background-color: var(--color-info);
    color: var(--color-border);
  }
}

.CalendarDay-container.off-month {
  color: var(--color-text-muted);

  .day-radius {
    background-color: unset;
    color: unset;
  }
}

.CalendarDay-card {
  width: 100%;
  min-height: var(--card-height);
}

@media (max-width: 768px) {
  .CalendarDay-container {
    .day-radius {
      width: 15px;
      height: 15px;
      font-size: 10px;
    }
  }

  .CalendarDay-events-info {
    display: none;
  }

  .CalendarDay-card {
    min-height: 80px;
  }
}
